*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg,rgb(84,130,255),rgb(162, 186, 202));
}

i{
    pointer-events: none;
}

header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: white;
        font-size: 3rem;
        text-shadow: 5px 5px 15px lightcyan;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

    input,button{
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
        margin: 0.1rem;
    }
    
    input[type="number"]{
        width: 100px;
        text-align: center;
    }

    // 隱藏數字上下按鈕 (chrome,opera)
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }

    // 隱藏數字上下按鈕 (Firefox)
    input[type="number"]{
        -moz-appearance: textfield;
    }

    button{
        cursor: pointer;
        background-color: lightcyan;
        color: #333;
        border-radius: 3rem;
    }
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;

    div.todo{
        width: 50vw;
        display: flex;
        align-items: center;
        margin: 0.2rem 0rem;
        transition: all 0.1s ease; 

        p{
            background-color: white;
            color: black;
            padding:0.25rem 0.5rem;
            font-size: 1.75rem;
        }

        p.todo-text{
            width: 65%;
        }
        
        p.todo-time{
            width: 35%;
            text-align: center;
        }
    }
}

button{
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    border:none;
    cursor: pointer;
    color: black;
    border-radius: 1.5rem;
}

button.complete{
    background-color: rgb(50,255,50);
}

button.trash{
    background-color: red;
}

.done{
    opacity: 0.5;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem; 
}

div.sort{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;

    button{
        cursor: pointer;
        background-color: lightcyan;
        color: black;
        border:none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
        margin-top: 30px;
    }
}
@keyframes scaleUp{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes scaleDown{
    to{
        transform: scale(0);
    }
}

p {
    text-align: center;
}